@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;

}




nav{
    background-color: rgb(50, 71, 71);
    color: white;
    height: 65px;
    font-size: 35px;
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    padding: 0 12px;


}

nav ul{
    list-style-type: none;
}